In [1]:
import numpy as np

sales_data = np.array([
    [200, 220, 250, 210, 180, 190],  # Day 1
    [230, 240, 260, 200, 195, 205],  # Day 2
    [210, 215, 255, 220, 185, 200],  # Day 3
    [205, 225, 270, 215, 190, 195],  # Day 4
    [215, 230, 265, 225, 200, 210],  # Day 5
    [225, 235, 275, 230, 205, 215],  # Day 6
    [235, 245, 280, 240, 210, 220],  # Day 7
    [245, 255, 290, 250, 215, 225],  # Day 8
    [255, 265, 300, 260, 220, 230],  # Day 9
    [265, 275, 310, 270, 225, 235]   # Day 10
])

####Q1. Mathematical Operations

In [2]:
total_sales_per_product = np.sum(sales_data, axis=0)

avg_sales_per_product = np.mean(sales_data, axis=0)

commissioned_sales = sales_data * 1.05

sqrt_sales = np.sqrt(sales_data)

####Q2. Broadcasting Concepts

In [ ]:
bonus_array = np.array([10, 20, 15, 25, 30, 5])
sales_with_bonus = sales_data + bonus_array
sales_plus_50 = sales_data + 50

####Q3. Statistical Analysis

In [3]:
flat = sales_data.flatten()

mean_val = np.mean(flat)
median_val = np.median(flat)
variance_val = np.var(flat)
std_dev_val = np.std(flat)

max_val = np.max(flat)
min_val = np.min(flat)
range_val = max_val - min_val

Q1 = np.percentile(flat, 25)
Q3 = np.percentile(flat, 75)
IQR = Q3 - Q1

####Q4. Logical and Comparision Operators

In [4]:
greater_than_250 = sales_data[sales_data > 250]

capped_sales = np.where(sales_data > 300, 300, sales_data)

between_200_250_count = np.sum((sales_data >= 200) & (sales_data <= 250))

below_mean_sales = sales_data[sales_data < mean_val]

####Q5. Searching, Sorting, and Final Summary

In [8]:
sorted_day5 = np.sort(sales_data[4])

day_total_sales = np.sum(sales_data, axis=1)
day_with_max_sales = np.argmax(day_total_sales)

product_means = np.mean(sales_data, axis=0)

daily_means = np.mean(sales_data, axis=1)

overall_avg = np.mean(flat)
print("Overall average sales:", overall_avg)

Overall average sales: 231.91666666666666

####Q6. Bonus

In [6]:
def highlight_outliers(data):
    mean = np.mean(data)
    std = np.std(data)
    upper = mean + 2 * std
    lower = mean - 2 * std
    return data[(data > upper) | (data < lower)]

outliers = highlight_outliers(flat)